<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Job Clock</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="../bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" href="css/app.css"/>
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-app="jobClock">
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="container">
    <div class="navbar navbar-default">
      <div class="navbar-header ">
	<a href="#" class="navbar-brand">Job Clock</a>
      </div>
      <div class="collapse navbar-collapse">
	<ul class="nav navbar-nav pull-right">
	  <li class="active"><a href="#"><span class="glyphicon glyphicon-th-list"></span> Clocks</a></li>
	  <li><a href="#"><span class="glyphicon glyphicon-signal"></span> Graphs</a></li>
	</ul>
      </div>
    </div>

    <div class="row" ng-controller="TimerPanelController as timerPanelCtrl">
      <div class="col-lg-8">
        <div ng-repeat="timerPanel in timers"
             class="panel panel-default col-lg-12
                    ng-class:{1:'btn-primary', 2:'btn-success', 3:'btn-warning'}[timerPanel.group]"
             ng-click="timerClicked(timerPanel.id)">
                                                
	  <span class="glyphicon glyphicon-remove pull-right" style="padding-top:10px"></span>
	  <h3>{{timerPanel.title}}</h3>
	  <div class="panel-body">
	    <div class="row">
	      <div class="col-lg-3">Start: {{timerPanel.start}}</div>
	      <div class="col-lg-3">End: {{timerPanel.end}}</div>
	      <div ng-show="timerPanel.isRunning" class="col-lg-6 text-right" style="font-size:16pt">
		<timer autostart="true" interval="1000">{{hours}}:{{minutes}}:{{seconds}}</timer>
	      </div>
	    </div>
	  </div>
	</div>
      </div> <!-- end col -->
    </div> <!-- end row -->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../node_modules/underscore/underscore.js"></script>
  <script src="../bower_components/angular-timer/dist/angular-timer.js"></script>
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
